.deck-container {
  width: 90%;
  /*
      h3, h4 {
          margin-top: 45px;
      }
  */ }
  .deck-container h3 span {
    font-size: 80%;
    font-weight: normal; }
  .deck-container #title-slide:before {
    opacity: 1;
    background-size: 50%;
    background-position: center center; }
  .deck-container > .slide:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent url(images/html5-logo.svg) no-repeat 99% 1%;
    background-size: 75px 75px;
    opacity: 0.5; }
  .deck-container .css, .deck-container .js, .deck-container .html, .deck-container .key {
    background: none repeat scroll 0 0 white;
    border-radius: 7px;
    /*bottom: 10px;*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: black;
    font-family: 'Droid Sans';
    font-size: 25px;
    letter-spacing: 0;
    line-height: 30px;
    padding: 6px 10px 3px;
    position: relative;
    text-shadow: none; }
  .deck-container .key {
    font-family: "Lucida console",Monospace,Arial; }
  .deck-container .html {
    background: -moz-linear-gradient(left top, #ee8888, #ffeeee) repeat scroll 0 0 transparent; }
  .deck-container .css {
    background: -moz-linear-gradient(left top, #ffff44, #ffffaa) repeat scroll 0 0 transparent; }
  .deck-container .js {
    background: -moz-linear-gradient(left top, #44ff44, #aaffaa) repeat scroll 0 0 transparent; }
  .deck-container span.css, .deck-container span.js, .deck-container span.html, .deck-container span.key {
    display: inline-block; }
  .deck-container ul.no-style, .deck-container ul.dot-style {
    list-style-type: none;
    margin: 0; }
  .deck-container ul.dot-style li:before {
    content: "\00B7  "; }
  .deck-container #history li > span:first-child {
    display: inline-block;
    width: 85px;
    font-weight: bold;
    font-size: 175%; }
  .deck-container #history li.sep {
    border-top: 1px solid dotted; }
  .deck-container .fl {
    float: left; }
  .deck-container .hidden {
    visibility: hidden; }
  .deck-container .center {
    text-align: center; }
  .deck-container .slide p {
    margin: 1em 0; }
  .deck-container pre {
    font-size: 90%; }
  .deck-container i {
    font-style: italic; }
  .deck-container b {
    font-weight: bold; }
  .deck-container div.box {
    border: 1px #999 dotted;
    padding: 10px;
    margin: 10px 0; }
    .deck-container div.box:last-child {
      border-style: solid; }
  .deck-container .red {
    color: red; }
  .deck-container .green {
    color: green; }
  .deck-container .blue {
    color: blue; }
  .deck-container li > ul {
    margin-bottom: 0; }

.csstransitions.csstransforms .deck-container:not(.deck-menu) .slide .deck-before, .csstransitions.csstransforms .deck-container:not(.deck-menu) .slide .deck-previous {
  opacity: 1; }
